body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  border: 0;
  padding: 0;
  margin: 10px 20px;
  background: none;
}


header {
  height: 40px;
  width: 100%;
  display: flex;
   justify-content: space-between;
}

header button {
  height: 40px;
  margin: 0;
  padding: 0;
}

header button i {
  font-size: 32px;
}

footer {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#blockmenu {
  position: absolute;
  bottom: 80px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.2);
}

#blockmenu button {
  display: flex;
  align-items: center;
  font-size: 18px;
}

footer button i {
  font-size: 40px;
}

#blockmenu button i {
  padding-right: 5px;
}

main {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  overflow-x: hidden;
}

#workspace {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

#iconmenu {
  position: absolute;
  bottom: 80px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.2);
}

#iconmenu_options {
  display: flex;
  flex-direction: row;
}

#iconmenu ul {
  list-style-type: none;
  height: 200px;
  overflow: scroll;
  margin: 0;
  padding: 10px;
}

#iconmenu .selected {
  background-color: #eeeeee;
}

#iconmenu .color_swatch {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

